html, body{
    margin: 0px;
    padding: 0px;
    background-color: #f8f8f8;
}

#login-form {
    border-radius: 5px;
    padding: 20px 50px 20px 50px;
}

small.form-text {
    margin-top: 20px;
    padding-left: 10px;
}

#profile-picture-nav-img, .post-profile-pics {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.card, .card-container, .card-action, #post-edit-modal {
    border-radius: 10px !important;
}

.cards-img img {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.edit-btn {
    margin-right: 2px !important;
}

.post-update-modal-header {
    padding-left: 20px !important;
}

.collapsible-header, .collapsible-body, .collapsible, ul.collapsible>li
{
  margin: 0!important;;
  box-shadow: none!important;
  background: #fff;
}
